extends ../layout

block exclusiveStyle
	//- link(rel="stylesheet" href="css/mess")

block content
	h3.page-header 您所在的路径：信息系统 / 诊断信息
	form.form-inline(id="search-form")
		div.form-group
			label(for="name") 姓名&nbsp;
			input( type="text" class="form-control" id="name" name="name")
		div.form-group
			label(for="sex") 性别&nbsp;
			select( name="sex" id="sex" class="form-control")
				option(value="-1") 性别
				option(value="0") 男
				option(value="1") 女
		div.form-group(id="min-age")
			label(for="min-age") 年龄&nbsp;
			input(type="text" class="form-control" id="min-age" name="min-age")
		|  - 
		div.form-group
			label(for="max-age" class="sr-only") 年龄
			input(type="text" class="form-control" id="max-age" name="max-age")
		button(type="submit" class="btn btn-default")
			span(class="glyphicon glyphicon-search" aria-hidden="true") 搜索
	table.table.table-striped(id="diagnose_table")
		thead 
			tr 
				td 姓名
				td 性别
				td 年龄
				td 诊断时间
				td 医生
				td 内容
				td 操作
		tbody
			each diagnose, index in diagnoseList
				tr(data-patient="#{diagnose.patient.role_prop.real_name}" data-doctor="#{diagnose.doctor_name}" data-content="#{diagnose.content}")
					td= diagnose.patient.role_prop.real_name
					td= diagnose.patient.role_prop.sex == 0? "男": "女"
					td= diagnose.patient.role_prop.age
					td= moment(diagnose.update_time || diagnose.update_time).format("YYYY年MM月DD日 HH:MM:SS")
					td= diagnose.doctor_name
					td= diagnose.content
					td 
						button.btn.btn-default.btn-sm.view_diagnose(data-toggle="modal" data-target="#diagnose_dialog") 查看诊断信息
			
	include ../includes/pagination
	
	div(class="modal fade" id="diagnose_dialog")
		div(class="modal-dialog modal-lg")
			div.modal-content
				div.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title 查看诊断信息
				div.modal-body
					div.row
						div.col-sm-6
							p.patient_name 
						div.col-sm-6
							p.diagnose_doctor
					div.row
						div.col-sm-12
							h4 诊断内容：
							p.diagnose_content(style="text-indent:2em")

				div.modal-footer
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
				

block exclusiveScript
	script.
		var diagnoseDialog = $("#diagnose_dialog"),
			diagnosePatient = diagnoseDialog.find(".patient_name"),
			diagnoseDoctor = diagnoseDialog.find(".diagnose_doctor"),
			diagnoseContent = diagnoseDialog.find(".diagnose_content");
		$("#diagnose_table").on("click", ".view_diagnose", function(event){
			var curTr = $(this).closest("tr");
			var patient = curTr.data("patient");
			var doctor = curTr.data("doctor");
			var diagnoseContentText = curTr.data("content");
			diagnosePatient.text("病人名字："+patient);
			diagnoseDoctor.text("诊断医生："+doctor);
			diagnoseContent.text(diagnoseContentText);

		})
