extends ../layout

block exclusiveStyle
    style.
        #ecg-dialog .modal-body img{
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
    
block content
    h3.page-header 你所在的路径：信息系统 / 事件列表
    
    include ../includes/eventSearchForm
    div.table-responsive
        table.table.table-striped#eventListTable
            thead 
                tr 
                    td 事件
                    td 出现时间
                    td 病人名字
                    td 性别
                    td 年龄
                    td 状态
                    td 事件截图
                    td 操作
            tbody
                each event, index in eventList
                    -var curPatient = event.user;
                    -var curRoleProp = curPatient.role_prop;
                    -var happenTime = moment(event.happen_time).format("YYYY年MM月DD日 HH:MM:SS");
                    -var sex=curRoleProp.sex == 0? "男": "女";
                    -var isView = event.is_view?"已查看":"未查看"
                    tr(data-uid="#{curPatient._id}" data-eventid="#{event._id}" data-event-level="#{event.level}" data-event="#{event.name}" data-happentime="#{happenTime}" data-isview="#{isView}" data-patientName="#{curRoleProp.real_name}" data-sex="#{sex}" data-age="#{curRoleProp.age}")
                        td= event.name
                        td= happenTime
                        td= curRoleProp.real_name
                        td(data-sex="#{curRoleProp.sex}")= sex
                        td= curRoleProp.age
                        td(data-isview="#{event.is_view}")= isView
                        td
                            if event.img
                                a(href="javascript:;" class="ecg-btn" data-img="#{event.img}" data-toggle="modal" data-target="#ecg-dialog") 查看具体信息
                            else
                                | 无
                        td
                            button(type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#view-diagnose") 查看详情

    include ../includes/pagination
    
    //- 修改用户
    div(class="modal fade" id="view-diagnose")
        div(class="modal-dialog modal-lg")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span &times;
                    h4 查看相关诊断信息
                div(class="modal-body")
                    table.table.table-striped
                        thead
                            tr
                                th 事件描述
                                th 出现时间
                                th 事件状态
                                th 病人名称
                                th 性别
                                th 年龄
                                th 代码
                                if user.role == 2
                                    th 具体操作
                        tbody
                            tr
                                td
                                td
                                td
                                td
                                td
                                td
                                td C
                                if user.role == 2
                                    td
                                        div.btn-group.btn-group-sm(role="group")
                                            button(type="button" class="btn btn-default diagnose-btn") 诊断
                                            //- button(type="button" class="btn btn-default") 打印诊断信息
                    div.diagnose-container#diagnose-list
                        h5 最近5条诊断信息
                            //- button.btn.btn-default.pull-right 诊断
                        
                        table.table.table-striped
                            thead
                                tr
                                    th 诊断时间
                                    th 医生
                                    th 内容
                                    if user.role == 2
                                        th 操作
                            tbody
                        if user.role == 2
                            form#diagnose-form(action="/add_diagnose?eid=" method="post" style="display:none;")
                                textarea.form-control(name="diagnose_content" rows="3" placeholder="请输入诊断信息" required="true")
                                input(type="hidden" name="patient_id")
                                input(type="hidden" name="patient_name")
                                div.btn-group
                                    button.btn.btn-default.btn-default(type="button") 取消
                                    button.btn.btn-success(type="submit") 确认


                div(class="modal-footer")
                    button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
                    button(type="submit" class="btn btn-primary") 确定

    .modal.fade#ecg-dialog(tabindex='-1', role='dialog')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') &times;
                    h4
                .modal-body
                    
block exclusiveScript
    script(src="/js/event_list.min.js")
        