extends ../layout

block exclusiveStyle



block content
	h3.page-header 你所在的路径：信息系统 / 事件列表
	
	include ../includes/eventSearchForm

	table.table.table-striped#eventListTable
		thead 
			tr 
				td 事件
				td 出现时间
				td 病人名字
				td 性别
				td 年龄
				td 状态
				td 心电数据
				td 操作
		tbody
			each event, index in eventList
				-var curPatient = event.user;
				-var curRoleProp = curPatient.role_prop;
				-var happenTime = moment(event.happen_time).format("YYYY年MM月DD日 HH:MM:SS");
				-var sex=curRoleProp.sex == 0? "男": "女";
				-var isView = event.is_view?"已查看":"未查看"
				tr(data-uid="#{curPatient._id}" data-eventid="#{event._id}" data-event-level="#{event.level}" data-event="#{event.name}" data-happentime="#{happenTime}" data-isview="#{isView}" data-patientName="#{curRoleProp.real_name}" data-sex="#{sex}" data-age="#{curRoleProp.age}")
					td= event.name
					td= happenTime
					td= curRoleProp.real_name
					td(data-sex="#{curRoleProp.sex}")= sex
					td= curRoleProp.age
					td(data-isview="#{event.is_view}")= isView
					td
						a(href="javascript:;") 查看具体信息
					td
						button(type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#view-diagnose") 查看详情

	include ../includes/pagination
	
	//- 修改用户
	div(class="modal fade" id="view-diagnose")
		div(class="modal-dialog modal-lg")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span &times;
					h4 查看相关诊断信息
				div(class="modal-body")
					table.table.table-striped
						thead
							tr
								th 事件描述
								th 出现时间
								th 事件状态
								th 病人名称
								th 性别
								th 年龄
								th 代码
								if user.role == 2
									th 具体操作
						tbody
							tr
								td
								td
								td
								td
								td
								td
								td C
								if user.role == 2
									td
										div.btn-group.btn-group-sm(role="group")
											button(type="button" class="btn btn-default diagnose-btn") 诊断
											//- button(type="button" class="btn btn-default") 打印诊断信息
					div.diagnose-container#diagnose-list
						h5 最近5条诊断信息
							//- button.btn.btn-default.pull-right 诊断
						
						table.table.table-striped
							thead
								tr
									th 诊断时间
									th 医生
									th 内容
									if user.role == 2
										th 操作
							tbody
						if user.role == 2
							form#diagnose-form(action="/add_diagnose?eid=" method="post" style="display:none;")
								textarea.form-control(name="diagnose_content" rows="3" placeholder="请输入诊断信息")
								input(type="hidden" name="patient_id")
								input(type="hidden" name="patient_name")
							div.btn-group
								button.btn.btn-default(type="button") 取消
								button.btn.btn-success(type="submit") 确认


				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
					button(type="submit" class="btn btn-primary") 确定


block exclusiveScript
	script(src="/js/libs/moment.min.js")
	script(src="/js/libs/zh-cn.js")
	script.
		var curDotorId = "#{user._id}";
		var isPatient = "#{user.role}" == "3"? true: false;
		// 查看详情的点击按钮
		var curEventId;
		var viewDiagnoseDialog = $("#view-diagnose");
		$("#eventListTable").on("click", "[data-target=#view-diagnose]", function(event){
			var curTr = $(this).closest("tr");
			curEventId = curTr.data("eventid");

			var eventName = curTr.data("event");
			var happenTime = curTr.data("happentime");
			var isView = curTr.data("isview");
			var patientName = curTr.data("patientname");
			var sex = curTr.data("sex");
			var age = curTr.data("age");
			
			var eventData = [eventName, happenTime, isView, patientName, sex, age];

			viewDiagnoseDialog.find("tbody tr td").each(function(index){
				$(this).text(eventData[index])
			});

			viewDiagnoseDialog.find("[name=patient_id]").val(curTr.data("uid")).end().find("[name=patient_name]").val(curTr.data("patientname"))

			$.get("/get_related_diagnose?eid=" + curEventId, function(data){
				console.log(data);
				var diaStr = "";

				var curDotorStr = '<button type="button" class="btn btn-warning btn-xs modify-btn">编辑</button>'; // 本医生特有的
				var dotcorStr = isPatient? '' : '<td>' + curDotorStr+'</td>' // 医生才有，病人没有
				for(var i = 0, len = data.length; i < len; i++){
					var cData = data[i];
					var isCurData = (curDotorId == cData.doctor_id ? curDotorStr : "");
					diaStr += '<tr data-diagnoseid="'+ cData._id +'">' +
				        '<td>'+ moment(cData.create_time).format("YYYY-MM-DD HH:mm") +'</td>' +
				        '<td>'+ cData.doctor_name +'</td>' +
				        '<td class="dia-content">' +
				            '<p>'+ cData.content +'</p>' +
				        '</td>' +
				         dotcorStr +
				    '</tr>'
				}

				$("#diagnose-list").find("tbody").html(diaStr);


			})
		});

		// 查看诊断信息的按钮
		
		var diagnoseBtn = $(".diagnose-btn"),
			diagnoseContainer = $(".diagnose-container"),
			diagnoseOl = diagnoseContainer.find("ol");
		var diagnoseForm = $("#diagnose-form");
		diagnoseBtn.on("click", function(event){
			diagnoseForm.fadeToggle()
		});
		
		diagnoseForm.submit(function(event){
			event.preventDefault();
			var diagnoseContent = $("[name=diagnose_content]").val().trim();
			
			/*
			  * event_id 通过查询字符串获取
			  * doctor_id 通过 req.session.user._id 获得
			  * doctor_name 通过 req.session.user._id 获得
			  * create_time: 
			  * undate_time: 
			*/
			var postUrl = $(this).attr("action") + curEventId;
			$.post(postUrl, $(this).serialize(), function(data){
				console.log("添加诊断记录成功");
				$("[name=diagnose_content]").val("")
				diagnoseForm.fadeToggle();
				console.log(data)
				$('<tr data-diagnoseid="'+ data._id +'">' +
				        '<td>'+ data.create_time +'</td>' +
				        '<td>'+ data.doctor_name +'</td>' +
				        '<td class="dia-content">' +
				            '<p>'+ data.content +'</p>' +
				        '</td>' +
				        '<td><button type="button" class="btn btn-warning btn-xs modify-btn">编辑</button></td>' +
				    '</tr>').prependTo($("#diagnose-list").find("tbody"))
			})
		})



		// 查看相关诊断信息的 编辑按钮
		var viewDiagnose = $("#view-diagnose");
		var initVal;
		viewDiagnose.on("click", ".modify-btn", function(event){
			var curTr = $(this).closest("tr");
			
			var diaContent = curTr.find(".dia-content")
			
			
			if($(this).text() == "编辑"){
				initVal = diaContent.find("p").text().trim();
				diaContent.find("p").replaceWith("<textarea class='form-control'>"+ initVal +"</textarea>");
				$(this).text("保存");

			}else {
				var textVal = diaContent.find("textarea").val().trim();
				diaContent.find("textarea").replaceWith("<p>" + textVal + "</p>");
				if(textVal !== initVal){ // 已做修改
					$.post("/modify_diagnose?did=" + curTr.data("diagnoseid"), {content: textVal}, function(data){
						
					})
				}
				$(this).text("编辑");
			}

			
		});



		// 搜索
		var searchForm = $("#search-form");
		var eventList = $("#eventListTable").find("tbody");

		searchForm.submit(function(event){
			event.preventDefault();
			$.ajax({
				url: $(this).attr("action"),
				type: $(this).attr("method"),
				data: $(this).serialize()
			}).done(function(data){
				console.log(data);
				eventList.empty();
				var strTem = "";
				for(var i = 0, iL = data.eventList.length; i < iL; i++){
					var cData = data.eventList[i];
					var happentime = moment(cData.happen_time).format("YYYY年MM月DD日 HH:MM:SS")
					strTem += '<tr data-uid="'+ cData.user._id +'" data-eventid="'+ cData._id +'" data-event-level="'+ cData.level +'" data-event="'+ cData.name +'" data-happentime="'+ happentime +'" data-isview="'+ (event.is_view?"已查看":"未查看") +'" data-patientname="'+ cData.user.role_prop.real_name +'" data-sex="'+ (cData.user.role_prop.sex==0? "男": "女") +'" data-age="'+ cData.user.role_prop.age +'">' +
				        '<td>'+ cData.name +'</td>' +
				        '<td>'+ happentime +'</td>' +
				        '<td>'+ cData.user.role_prop.real_name +'</td>' +
				        '<td data-sex="'+ cData.user.role_prop.sex +'">'+ (cData.user.role_prop.sex==0? "男": "女") +'</td>' +
				        '<td>'+ cData.user.role_prop.age +'</td>' +
				        '<td data-isview="'+ cData.isView +'">'+ (cData.isView? "已查看": "未查看") +'</td>' +
				        '<td><a href="javascript:;">查看具体信息</a></td>' +
				        '<td>' +
				            '<button type="button" data-toggle="modal" data-target="#view-diagnose" class="btn btn-default btn-sm">查看详情</button>' +
				        '</td>' +
				    '</tr>'
					
				}
				eventList.html(strTem)

			}).fail(function(jqXHR, textStatus, errorThrown ){
				console.log("textStatus:" + textStatus)
				console.log("errorThrown:" + errorThrown)
			})
		})