extends ../layout

block exclusiveStyle
	link(rel="stylesheet" href="css/message_box.css")
	link(rel="stylesheet" href="js/libs/cupertino/jquery-ui.min.css")
	link(rel="stylesheet" href="css/libs/fullcalender/fullcalendar.css")
	link(rel="stylesheet" href="css/libs/fullcalender/fullcalendar.print.css" media='print')
	style.
		#calendar-container{
			display:none;
			position: fixed;
			left: 0;right:0;
			top: 0; bottom:0;
			background-color: rgba(0,0,0,.8);
			z-index: 1100;
		}
		#calendar-container.active{
			display:block;
		}
		#calendar{
			margin: 10px auto;
			padding: 15px;
			background-color: #fff;
		}
		#calendar-container .close{
			width: 50px;
			height: 50px;
			background-color: #fff;
			border-radius: 50%;
			opacity: .8;
			
		}
		.close span{
			display: inline;
			line-height: 50px;
		}
		#calendar-container .close span{
			-webkit-transition: all .8s;
			-o-transition: all .8s;
			transition: all .8s;
		}
		#calendar-container .close:hover span{
			-webkit-transform: scale(1.5);
			-ms-transform: scale(1.5);
			-o-transform: scale(1.5);
			transform: scale(1.5);
		}
		#view-diagnose{
			z-index: 1500;
		}

block content
	h3.page-header 你所在的路径：信息系统 / 我的监护病人
	
	include ../includes/userSearchForm
	
	
	div.table-responsive
		table.table.table-striped#userlist
			thead 
				tr 
					td 账户名
					td 姓名
					td 性别
					td 年龄
					td 地址
					td 电话
					td 手机
					td 操作
			tbody
				each value, index in userList
					-var roleProp = value.role_prop
					tr(data-uid="#{value._id}")
						td= value.account
						td= roleProp.real_name
						td(data-sex="#{roleProp.sex}")= roleProp.sex == 0? "男": "女"
						td= roleProp.age
						td= roleProp.address
						td= roleProp.tel_phone
						td= roleProp.phone
						td
							div.btn-group.btn-group-sm(role="group")
								button.btn.btn-default(type="button" class="edit_btn view_calendar") 用户日历
								button.btn.btn-default(type="button" class="edit_btn view_info") 查看资料
					
	include ../includes/pagination


	div(class="modal fade" id="patient_info_dialog" tabindex="-1" role="dialog")
		div(class="modal-dialog modal-lg")
			div(class="modal-content")
				div(class="modal-header")
					<h4 class="modal-title">谁谁谁的信息</h4>
				div(class="modal-body")
					table.table.table-bordered
						tr
							td 账户名
							td.account 
							td 用户角色
							td.role
						tr
							td 姓名
							td.name
							td 性别
							td.sex
							td 年龄
							td.age
						tr
							td 身高
							td.height
							td 体重
							td.weight
						tr
							td 过往病史
							td.medical_case
						tr
							td 身份证号
							td.id_card
							td 住院号
							td.patient_number
						tr
							td 联系电话
							td.phone
							td 手机号码
							td.tel_phone
						tr
							td 联系地址
							td.address

					table.table.family_table
						caption 病人家属
						thead
							tr
								th 姓名
								th 电话
								th 与病人关系
								th 是否接收短信通知
								th 备注
						tbody
							tr
								td 刘i
								td 111
								td 555
								td 555
								td 555
				div(class="modal-footer")
					button(class="btn btn-default" data-dismiss="modal") 关闭
	
	//- div(class="modal fade" id="patient_calender_dialog" tabindex="-1" role="dialog")
	//- 	div(class="modal-dialog modal-lg")
	//- 		div(class="modal-content")
	//- 			div(class="modal-header")
	//- 				h4(class="modal-title") 谁谁谁的时间日历
	//- 			div(class="modal-body")
					
					
	//- 			div(class="modal-footer")
	//- 				button(class="btn btn-default" data-dismiss="modal") 关闭
	
	
	section.message_box
		div.header 病人紧急事件报警监控
		div.content
			table.table
				thead
					tr
						th 事件
						th 姓名
						th 次数
						th 时间
				tbody
					
		div.footer
			| 当前共
			span#eventAmount 0
			| 条未查看的事件 
			span(class="glyphicon glyphicon-envelope" aria-hidden="true" style="color:#f0ad4e")
			a(href="javascript:;" class="reflash_event") 刷新	
			a(href="/event_list") 查看全部事件
						
	div(class="modal fade" id="view-diagnose")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span &times;
					h4 查看相关诊断信息
				div(class="modal-body")
					table.table.table-striped
						thead
							tr
								th 诊断时间
								th 医生
								th 内容
						tbody.diagnose-tbody

				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
					button(type="submit" class="btn btn-primary") 确定
	section#calendar-container
		button.close(type='button', aria-label='Close')
			span(aria-hidden='true') ×
		div#calendar
block exclusiveScript
	script(src="js/libs/moment.min.js")
	script(src="js/libs/jquery-ui.custom.min.js")
	script(src="js/libs/fullcalendar.min.js")
	script(src="js/libs/zh-cn.js")
	script.
		var patientInfoDialog = $("#patient_info_dialog");
		$("table tbody").on("click", ".view_info", function(event){
			var curTr = $(this).closest("tr");
			$.ajax({
				url: "/get_patient_info/" +  curTr.data("uid")
			}).done(function(data){
				console.log(data);
				var patientData = data.data.patient;
				var patientRoleProp = patientData.role_prop;
				patientInfoDialog.find(".modal-title").text(patientRoleProp.real_name+"的信息").end()
					.find(".account").text(patientData.account).end()
					.find(".role").text(patientData.role).end()
					.find(".name").text(patientRoleProp.real_name).end()
					.find(".sex").text(patientRoleProp.sex =="0"? "男": "女").end()
					.find(".age").text(patientRoleProp.age).end()
					.find(".height").text(patientRoleProp.height).end()
					.find(".weight").text(patientRoleProp.weight).end()
					.find(".medical_case").text(patientRoleProp.medical_case).end()
					.find(".id_card").text(patientRoleProp.id_card).end()
					.find(".patient_number").text(5).end()
					.find(".phone").text(patientRoleProp.phone).end()
					.find(".tel_phone").text(patientRoleProp.tel_phone).end()
					.find(".address").text(patientRoleProp.address);
				
				var familyList = data.data.familyList;
				patientInfoDialog.find(".family_table tbody").empty()
				for(var i = 0, len = familyList.length; i < len; i++){
					var curFamily = familyList[i];
					$('<tr>' +
						'<td>'+curFamily.name+'</td>' +
						'<td>'+curFamily.tel_phone+'</td>' +
						'<td>'+curFamily.relationship+'</td>' +
						'<td>'+(curFamily.is_message == true? "是":"否")+'</td>' +
						'<td>'+curFamily.remark+'</td>' +
					'</tr>').appendTo(patientInfoDialog.find(".family_table tbody"))
				}
				$("#patient_info_dialog").modal("show")
			}).fail(function(){
				console.log("获取病人信息失败")
			})
		})




		$(".message_box").on("click", ".header", function(event){
			$(".message_box").toggleClass("down")
		})


		var calendar = $("#calendar");
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: Date.now(),
			buttonIcons: false, // show the prev/next text
			weekNumbers: true,
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: '按紧急按钮',
					start: '2015-02-01T16:30:00'
				}
			],
			eventClick: function(calEvent, jsEvent, view){
						event.preventDefault();
						$.get(calEvent.url, function(data){
							console.log(data);
							var diaStr = "";

							for(var i = 0, len = data.length; i < len; i++){
								var cData = data[i];

								diaStr += '<tr>' +
							        '<td>'+ cData.create_time +'</td>' +
							        '<td>'+ cData.doctor_name +'</td>' +
							        '<td>'+ cData.content +'</td>' +
							    '</tr>';
							}
							$(".diagnose-tbody").html(diaStr);
							$("#view-diagnose").modal('toggle')
						})
					}
		});
		
		var calendarContainer = $("#calendar-container");
		$("#userlist tbody").on("click", ".view_calendar",function(event){

			calendarContainer.addClass("active");
			$('#calendar').fullCalendar('render');
			var pid = $(this).closest("tr").data("uid");
			$.get("/get_calendar_events?pid=" + pid, function(data){
				var events = [];
				console.log(data.eventList)
				$.each(data.eventList, function(index){
					if(!isNaN(+index)){
						
						events[index] = {
							title: this.name,
							start: moment(this.happen_time).format("YYYY-MM-DD"),
							end: moment((this.end_time) || this.happen_time).format("YYYY-MM-DD"),
							className: "level" + this.level,
							url: "get_related_diagnose?eid=" + this._id
						}
						//- console.log(events[index]["end"])
					}
				})
				console.log(events);
				calendar.fullCalendar("removeEvents")
				calendar.fullCalendar( 'addEventSource', events )
			})
		});
		
		calendarContainer.find(".close").click(function(){
			calendarContainer.removeClass("active")
		})

		// userSearchForm

		var searchForm = $("#search-form");
		var userList = $("#userlist").find("tbody");

		searchForm.submit(function(event){
			event.preventDefault();
			$.ajax({
				url: $(this).attr("action"),
				type: $(this).attr("method"),
				data: $(this).serialize()
			}).done(function(data){
				console.log(data);
				userList.empty();
				var strTem = "";
				for(var i = 0, iL = data.userList.length; i < iL; i++){
					var cData = data.userList[i];
					strTem += ('<tr data-uid="'+ cData._id +'">' +
					'<td>'+ cData.account +'</td>' +
					'<td>'+ cData.role_prop.real_name +'</td>' +
					'<td data-sex="'+ cData.role_prop.sex +'">'+ (cData.role_prop.sex == 0? "男": "女") +'</td>' +
					'<td>'+ cData.role_prop.age +'</td>' +
					'<td>'+ ((cData.role_prop.address)||'未填写') +'</td>' +
					'<td>'+ cData.role_prop.tel_phone +'</td>' +
					'<td>'+ cData.role_prop.phone +'</td>' +
					'<td>' +
						'<div role="group" class="btn-group btn-group-sm">' +
							'<button type="button" class="btn btn-default edit_btn view_calendar">用户日历</button>' +
							'<button type="button" class="btn btn-default edit_btn view_info">查看资料</button>' +
						'</div>' +
					'</td>' +
				'</tr>'
				);
					
				}
				userList.html(strTem)

			}).fail(function(jqXHR, textStatus, errorThrown ){
				console.log("textStatus:" + textStatus)
				console.log("errorThrown:" + errorThrown)
			})
		})




		// 病人紧急事件报警监控
		var doctorId = "#{user._id}";
	
		
		
		$(".reflash_event").click(function(event){
			event.preventDefault();
			getUnlookEvent();
			updateEventAmount();
		})
		
		function getUnlookEvent(){
			$.get("/get_unView_event?did=" + doctorId, function(data){
				createEvent(data.eventList);
				updateEventAmount(data.eventList.length)
			});
		}
		
		function updateEventAmount(data){
			$("#eventAmount").text(data);
		}
		function createEvent(data){
			if(!data) return;

			var strTem = "";
			// 默认显示5条
			for(var i = 0, len = 5; i < len; i++){
				var cData = data[i];
				strTem += '<tr>' +
				    '<td>'+ cData.name +'</td>' +
				    '<td>'+ cData.patient_name + '</td>' +
				    '<td>'+ 1 +'</td>' +
				    '<td>'+ moment(cData.happen_time).format("YYYY年MM月DD日 HH:MM:SS") +'</td>' +
				'</tr>'
			}
			$(".message_box tbody").html(strTem);
			//- return strTem;
		}

		setTimeout(function(){
			getUnlookEvent()
		}, 500)
		setInterval(function(){
			getUnlookEvent();
		}, 6000)