extends ../layout

block exclusiveStyle
	link(rel="stylesheet" href="/js/libs/cupertino/jquery-ui.min.css")
	link(rel="stylesheet" href="/css/libs/fullcalender/fullcalendar.css")
	link(rel="stylesheet" href="/css/libs/fullcalender/fullcalendar.print.css" media='print')
	
	style.
		#calendar{
			max-width: 900px;
		}
		#calendar-container{
			display:none;
			position: fixed;
			left: 0;right:0;
			top: 0; bottom:0;
			background-color: rgba(0,0,0,.8);
			z-index: 1100;
		}
		#calendar-container.active{
			display:block;
		}
		#calendar{
			margin: 10px auto;
			padding: 15px;
			background-color: #fff;
		}
		#calendar-container .close{
			width: 50px;
			height: 50px;
			background-color: #fff;
			border-radius: 50%;
			opacity: .8;
			
		}
		.close span{
			display: inline;
			line-height: 50px;
		}
		#calendar-container .close span{
			-webkit-transition: all .8s;
			-o-transition: all .8s;
			transition: all .8s;
		}
		#calendar-container .close:hover span{
			-webkit-transform: scale(1.5);
			-ms-transform: scale(1.5);
			-o-transform: scale(1.5);
			transform: scale(1.5);
		}
		#view-diagnose{
			z-index: 1500;
		}

block content
	h3.page-header 你所在的路径：信息系统 / 我的监护病人
	
	include ../includes/userSearchForm
	
	
	div.table-responsive
		table.table.table-striped#userlist
			thead 
				tr 
					td 账户名
					td 姓名
					td 性别
					td 年龄
					td 地址
					td 电话
					td 手机
					td 操作
			tbody
				each value, index in userList
					-var roleProp = value.role_prop
					tr(data-uid="#{value._id}")
						td= value.account
						td= roleProp.real_name
						td(data-sex="#{roleProp.sex}")= roleProp.sex == 0? "男": "女"
						td= roleProp.age
						td= roleProp.address
						td= roleProp.tel_phone
						td= roleProp.phone
						td
							div.btn-group.btn-group-sm(role="group")
								button.btn.btn-default(type="button" class="edit_btn view_calendar") 用户日历
								button.btn.btn-default(type="button" class="edit_btn view_info") 查看资料
					
	include ../includes/pagination


	div(class="modal fade" id="patient_info_dialog" tabindex="-1" role="dialog")
		div(class="modal-dialog modal-lg")
			div(class="modal-content")
				div(class="modal-header")
					<h4 class="modal-title">谁谁谁的信息</h4>
				div(class="modal-body")
					table.table.table-bordered
						tr
							td 账户名
							td.account 
							td 用户角色
							td.role
						tr
							td 姓名
							td.name
							td 性别
							td.sex
							td 年龄
							td.age
						tr
							td 身高
							td.height
							td 体重
							td.weight
						tr
							td 过往病史
							td.medical_case
						tr
							td 身份证号
							td.id_card
							td 住院号
							td.patient_number
						tr
							td 联系电话
							td.phone
							td 手机号码
							td.tel_phone
						tr
							td 联系地址
							td.address

					table.table.family_table
						caption 病人家属
						thead
							tr
								th 姓名
								th 电话
								th 与病人关系
								th 是否接收短信通知
								th 备注
						tbody
							tr
								td 刘i
								td 111
								td 555
								td 555
								td 555
				div(class="modal-footer")
					button(class="btn btn-default" data-dismiss="modal") 关闭
						
	div(class="modal fade" id="view-diagnose")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span &times;
					h4 查看相关诊断信息
				div(class="modal-body")
					table.table.table-striped
						thead
							tr
								th 诊断时间
								th 医生
								th 内容
						tbody.diagnose-tbody

				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
					button(type="submit" class="btn btn-primary") 确定
	section#calendar-container
		button.close(type='button', aria-label='Close')
			span(aria-hidden='true') ×
		div#calendar
block exclusiveScript
	script(src="/js/libs/moment.min.js")
	script(src="/js/libs/jquery-ui.custom.min.js")
	script(src="/js/libs/fullcalendar.min.js")
	script(src="/js/libs/zh-cn.js")
	script(src="/js/my_care_patient.min.js")
		
	
