extends ../layout

block exclusiveStyle
	//- link(rel="stylesheet" href="css/mess")

block content
	h3.page-header 您所在的路径：信息系统 / 我的监护医生

	include ../includes/diagnoseSearchForm 

	div.table-responsive
		table.table.table-striped(id="diagnose_table")
			thead 
				tr 
					td 姓名
					td 性别
					td 年龄
					td 诊断时间
					td 医生
					td 内容
					td 操作
			tbody
				each diagnose in myDiagnoseList
					tr(data-patient="#{user.role_prop.real_name}" data-doctor="#{diagnose.doctor_name}" data-diagnose-content="#{diagnose.content}")
						td= user.role_prop.real_name
						td= user.role_prop.sex
						td= user.role_prop.age
						td= moment(diagnose.update_time).format("YYYY年MM月DD日 HH:MM:SS")
						td= diagnose.doctor_name
						td= diagnose.content.length>20? diagnose.content.substr(0,20) + "..." : diagnose.content
						td
							button.btn.btn-success.btn-sm.view_diagnose(data-toggle="modal" data-target="#diagnose_dialog") 查看诊断信息
						
	include ../includes/pagination

	
	div(class="modal fade" id="diagnose_dialog")
		div(class="modal-dialog modal-lg")
			div.modal-content
				div.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title 查看诊断信息
				div.modal-body
					div.row
						div.col-sm-6
							p.patient_name 
						div.col-sm-6
							p.diagnose_doctor
					div.row
						div.col-sm-12
							h4 诊断内容：
							p.diagnose_content(style="text-indent:2em")

				div.modal-footer
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
				

block exclusiveScript
	script(src="js/libs/moment.min.js")
	script(src="js/libs/zh-cn.js")
	script.
		var diagnoseDialog = $("#diagnose_dialog"),
			diagnosePatient = diagnoseDialog.find(".patient_name"),
			diagnoseDoctor = diagnoseDialog.find(".diagnose_doctor"),
			diagnoseContent = diagnoseDialog.find(".diagnose_content");
		$("#diagnose_table").on("click", ".view_diagnose", function(event){
			var curTr = $(this).closest("tr");
			var patient = curTr.data("patient");
			var doctor = curTr.data("doctor");
			var diagnoseContentText = curTr.data("diagnoseContent");
			diagnosePatient.text("病人名字："+patient);
			diagnoseDoctor.text("诊断医生："+doctor);
			diagnoseContent.text(diagnoseContentText);

		})
	

		// 搜索
		var searchForm = $("#search-form");
		var diagnoseList = $("#diagnose_table").find("tbody");

		searchForm.submit(function(event){
			event.preventDefault();
			$.ajax({
				url: $(this).attr("action"),
				type: $(this).attr("method"),
				data: $(this).serialize()
			}).done(function(data){
				console.log(data);
				diagnoseList.empty();
				var strTem = "";
				for(var i = 0, iL = data.diagnoseList.length; i < iL; i++){
					var cData = data.diagnoseList[i];
					var patientRealName = cData.patient.role_prop.real_name;
					var patientSex = cData.patient.role_prop.sex == 0? "男": "女";
					var patientAge = cData.patient.role_prop.age;
					var diagnoseTime = moment(cData.update_time || cData.update_time).format("YYYY年MM月DD日 HH:MM:SS");
					strTem += ('<tr data-patient="'+ patientRealName +'" data-doctor="'+ cData.doctor_name +'" data-content="'+ cData.content +'">' +
					    '<td>'+ patientRealName +'</td>' +
					    '<td>'+ patientSex +'</td>' +
					    '<td>'+ patientAge +'</td>' +
					    '<td>'+ diagnoseTime +'</td>' +
					    '<td>'+ cData.doctor_name +'</td>' +
					    '<td>'+ cData.content +'</td>' +
					    '<td>' +
					        '<button data-toggle="modal" data-target="#diagnose_dialog" class="btn btn-success btn-sm view_diagnose">查看诊断信息</button>' +
					    '</td>' +
					'</tr>')
				}
				diagnoseList.html(strTem)

			}).fail(function(jqXHR, textStatus, errorThrown ){
				console.log("textStatus:" + textStatus)
				console.log("errorThrown:" + errorThrown)
			})
		})