extends ../layout

block exclusiveStyle
	//- link(rel="stylesheet" href="css/mess")

block content
	h3.page-header 您所在的路径：信息系统 / 我的监护医生

	include ../includes/userSearchForm
	
	div.table-responsive
		table#userlist.table.table-striped
			thead 
				tr 
					td 账户名
					td 姓名
					td 性别
					td 年龄
					td 职位
					td 办公室
					td 电话
					td 手机
			tbody
				each value, index in userList
					-var roleProp = value.role_prop
					tr(data-uid="#{value._id}")
						td= value.account
						td= roleProp.real_name
						td(data-sex="#{roleProp.sex}")= roleProp.sex == 0? "男": "女"
						td= roleProp.age
						td= roleProp.title
						td= roleProp.location
						td= roleProp.phone
						td= roleProp.tel_phone
				
	include ../includes/pagination
	
block exclusiveScript
	script.
		var searchForm = $("#search-form");
		var userList = $("#userlist").find("tbody");

		searchForm.submit(function(event){
			event.preventDefault();
			$.ajax({
				url: $(this).attr("action"),
				type: $(this).attr("method"),
				data: $(this).serialize()
			}).done(function(data){
				console.log(data);
				userList.empty();
				var strTem = "";
				for(var i = 0, iL = data.userList.length; i < iL; i++){
					var cData = data.userList[i];
					var sex = cData.role_prop.sex == 0 ?"男": "女";
					console.log(typeof sex)
					strTem += ('<tr data-uid="'+ cData._id +'">' +
						'<td>'+ cData.account +'</td>' +
						'<td>'+ cData.role_prop.real_name +'</td>' +
						'<td data-sex="'+ cData.sex +'">'+ sex +'</td>' +
						'<td>'+ cData.role_prop.age +'</td>' +
						'<td>'+ cData.role_prop.title+'</td>' +
						'<td>'+ cData.role_prop.location +'</td>' +
						'<td>'+ cData.role_prop.phone +'</td>' +
						'<td>'+ cData.role_prop.tel_phone +'</td>' +
					'</tr>');
				}
				userList.html(strTem)

			}).fail(function(jqXHR, textStatus, errorThrown ){
				console.log("textStatus:" + textStatus)
				console.log("errorThrown:" + errorThrown)
			})
		})