extends ../layout

block exclusiveStyle
	//- link(rel="stylesheet" href="css/mess")

block content
	h3.page-header 您所在的路径：信息系统 / 我的监护医生

	form.form-inline(id="search-form")
		div.form-group
			label(for="name") 姓名&nbsp;
			input( type="text" class="form-control" id="name" name="name")
		div.form-group
			label(for="sex") 性别&nbsp;
			select( name="sex" id="sex" class="form-control")
				option(value="-1") 性别
				option(value="0") 男
				option(value="1") 女
		div.form-group(id="min-age")
			label(for="min-age") 年龄&nbsp;
			input(type="text" class="form-control" id="min-age" name="min-age")
		|  - 
		div.form-group
			label(for="max-age" class="sr-only") 年龄
			input(type="text" class="form-control" id="max-age" name="max-age")
		button(type="submit" class="btn btn-default")
			span(class="glyphicon glyphicon-search" aria-hidden="true") 搜索


	table.table.table-striped
		thead 
			tr 
				td 账户名
				td 姓名
				td 性别
				td 年龄
				td 职位
				td 办公室
				td 电话
				td 手机
		tbody
			each value, index in userList
				-var roleProp = value.role_prop
				tr(data-uid="#{value._id}")
					td= value.account
					td= roleProp.real_name
					td(data-sex="#{roleProp.sex}")= roleProp.sex == 0? "男": "女"
					td= roleProp.age
					td= roleProp.title
					td= roleProp.location
					td= roleProp.phone
					td= roleProp.tel_phone
				
	include ../includes/pagination