extends ../layout

block exclusiveStyle
	//- link(rel="stylesheet" href="css/index.css")
	


block content
	h3.page-header 你所在的路径：信息系统 / 医生用户列表
	
	include ../includes/userSearchForm
	
	button(type="button" class="btn btn-info" data-toggle="modal" data-target="#add-user") 添加新系统用户
	div.table-responsive
		table.table.table-striped#userlist
			thead 
				tr 
					td 账户名
					td 姓名
					td 性别
					td 年龄
					td 职位
					td 办公室
					td 电话
					td 手机
					td 操作
			tbody
				each value, index in userList
					-var roleProp = value.role_prop
					tr(data-uid="#{value._id}" data-role="#{value.role}" data-patient-list="#{value.care_patient}")
						td= value.account
						td= roleProp.real_name
						td(data-sex="#{roleProp.sex}")= roleProp.sex == 0? "男": "女"
						td= roleProp.age
						td= roleProp.title
						td= roleProp.location
						td= roleProp.phone
						td= roleProp.tel_phone
						td 
							div.btn-group.btn-group-sm(role="group")
								button.btn.btn-default(type="button" class="edit_btn") 查看/编辑
								button.btn.btn-success(type="button" class="patient_btn") 选择患者
								button.btn.btn-danger(type="button" class="del_user") 删除
							
	include ../includes/pagination

	div(class="modal fade" id="patient-list")
		div(class="modal-dialog modal-lg")
			div(class="modal-content")
				form.form-horizontal(action="/add_care_patient" method="post")
					input(type="hidden" name="doctor_id" value="")
					input(type="hidden" name="origin_patient_list" value="")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span &times;
						h4 选择患者用户
					div(class="modal-body")
						table.table
							thead
								tr
									th 选择
									th 账户名
									th 姓名
									th 性别
									th 年龄
									th 地址
									th 电话
									th 手机
							tbody
					div.modal-footer
						button(type="button" class="btn btn-default" id="close-family-form-btn" data-dismiss="modal").pull-right 关闭
						button(type="submit" style="margin-right:10px").btn.btn-primary.pull-right 确定添加

	


	div(class="modal fade" id="add-user")
		div(class="modal-dialog")
			div(class="modal-content")
				form.form-horizontal(action="/add_doctor_user" method="post")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span &times;
						h4 添加医生用户
					div(class="modal-body")
							input(type="hidden" name="role" value="2")
							div.form-group
								label(class="col-sm-3 control-label text-left") 账户名：
								div.col-sm-9
									input(type="text" class="form-control" placeholder="请输入您的用户名" name="account" required="true")
							div.form-group
								label(for="" class="col-sm-3 control-label text-left") 姓名：
								div.col-sm-9
									input( type="text" class="form-control" placeholder="请输入您的真实姓名" name="real_name" required="true")
							div.form-group
								label(class="col-sm-3 control-label text-left") 性别：
								div.col-sm-9
									label(class="radio-inline")
										input(type="radio" name="sex" value="0" required="true") 
										| 男
									label(class="radio-inline")
										input(type="radio" name="sex" value="1" required="true") 
										| 女
							div.form-group
								label(for="" class="col-sm-3 control-label text-left") 密码：
								div.col-sm-9
									input(type="password" class="form-control" name="password" required="true")
										
							div.form-group
								label(for="" class="col-sm-3 control-label text-left") 确认密码：
								div.col-sm-9
									input(type="password" class="form-control" required="true")
							div.form-group
								label(class="col-sm-3 control-label text-left") 电话号码：
								div.col-sm-9
									input(type="text" class="form-control" name="phone")
							div.form-group
								label(class="col-sm-3 control-label text-left") 手机号码：
								div.col-sm-9
									input(type="text" class="form-control" name="tel_phone" required="true")
							div.form-group
								label(class="col-sm-3 control-label text-left" required="true") 科室：
								div.col-sm-9
									input(type="text" class="form-control" name="location")
							div.form-group
								label(class="col-sm-3 control-label text-left" required="true") 职位：
								div.col-sm-9
									input(type="text" class="form-control" name="title")
					div.modal-footer
						button(type="button" class="btn btn-default" id="close-family-form-btn" data-dismiss="modal").pull-right 关闭
						button(type="submit" style="margin-right:10px").btn.btn-primary.pull-right 确定添加
	div(class="modal fade" id="edit-user")
		div(class="modal-dialog")
			div(class="modal-content")
				form.form-horizontal(action="/edit_doctor_user" method="post")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span &times;
						h4 编辑医生用户
					div(class="modal-body")
							input(type="hidden" name="role" value="2")
							input(type="hidden" name="edit_user_id" value="")
							div.form-group
								label(class="col-sm-3 control-label text-left") 账户名：
								div.col-sm-9
									input(type="text" class="form-control" placeholder="请输入您的用户名" name="account" disabled)
							div.form-group
								label(for="" class="col-sm-3 control-label text-left") 姓名：
								div.col-sm-9
									input( type="text" class="form-control" placeholder="请输入您的真实姓名" name="real_name")
							div.form-group
								label(class="col-sm-3 control-label text-left") 性别：
								div.col-sm-9
									label(class="radio-inline")
										input(type="radio" name="sex" value="0") 
										| 男
									label(class="radio-inline")
										input(type="radio" name="sex" value="1") 
										| 女
							div.form-group
								label(class="col-sm-3 control-label text-left") 电话号码：
								div.col-sm-9
									input(type="text" class="form-control" name="phone")
							div.form-group
								label(class="col-sm-3 control-label text-left") 手机号码：
								div.col-sm-9
									input(type="text" class="form-control" name="tel_phone")
							div.form-group
								label(class="col-sm-3 control-label text-left") 科室：
								div.col-sm-9
									input(type="text" class="form-control" name="location")
							div.form-group
								label(class="col-sm-3 control-label text-left") 职位：
								div.col-sm-9
									input(type="text" class="form-control" name="title")
					div.modal-footer
						button(type="button" class="btn btn-default" id="close-family-form-btn" data-dismiss="modal").pull-right 关闭
						button(type="submit" style="margin-right:10px").btn.btn-primary.pull-right 确定添加
						
block exclusiveScript
	script(src="/js/doctor_list.js")
		