extends ../layout

block exclusiveStyle
	//- link(rel="stylesheet" href="css/index.css")
	


block content
	h3.page-header 你所在的路径：信息系统 / 病人用户列表
	
	include ../includes/userSearchForm
	
	button(type="button" class="btn btn-info" data-toggle="modal" data-target="#add-user") 添加新系统用户
	div.table-responsive
		table.table.table-striped#userlist
			thead 
				tr 
					td 账户名
					td 姓名
					td 性别
					td 年龄
					td 地址
					td 电话
					td 手机
					td 操作
			tbody
				each value, index in userList
					-var roleProp = value.role_prop
					tr(data-uid="#{value._id}" data-role="#{value.role}" data-idcard="#{roleProp.id_card}" data-height="#{roleProp.height}" data-weight="#{roleProp.weight}" data-birthday="#{roleProp.birthday}" data-medicalcase="#{roleProp.medical_case}")
						td= value.account
						td= roleProp.real_name
						td(data-sex="#{roleProp.sex}")= roleProp.sex == 0? "男": "女"
						td= roleProp.age
						td= roleProp.address
						td= roleProp.phone
						td= roleProp.tel_phone
						td
							div.btn-group.btn-group-sm(role="group")
								button.btn.btn-default(type="button" class="edit_btn") 查看/编辑
								button.btn.btn-success(type="button" class="family_btn") 查看家属
								button.btn.btn-danger(type="button" class="del_user") 删除

	include ../includes/pagination





	//- 添加用户dialog
	div(class="modal fade" id="add-user")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span &times;
					h4 添加病人用户
				div(class="modal-body")
					form.form-horizontal(action="add_patient_user" method="post")
						input(type="hidden" name="role" value="3")
						div.form-group
							label(class="col-sm-3 control-label text-left") 账户名：
							div.col-sm-9
								input(type="text" class="form-control" placeholder="请输入您的用户名" name="account" required="true")
						div.form-group
							label(for="" class="col-sm-3 control-label text-left") 姓名：
							div.col-sm-9
								input( type="text" class="form-control" placeholder="请输入您的真实姓名" name="real_name" required="true")
						div.form-group
							label(class="col-sm-3 control-label text-left") 性别：
							div.col-sm-9
								label(class="radio-inline")
									input(type="radio" name="sex" value="0" required="true") 
									| 男
								label(class="radio-inline")
									input(type="radio" name="sex" value="1" required="true") 
									| 女
						div.form-group
							label(class="col-sm-3 control-label text-left") 生日：
							div.col-sm-9
								input(type="date" name="birthday" class="form-control" required="true") 
						div.form-group
							label(for="" class="col-sm-3 control-label text-left") 密码：
							div.col-sm-9
								input(type="password" class="form-control" name="password" required="true")
									
						div.form-group
							label(for="" class="col-sm-3 control-label text-left") 确认密码：
							div.col-sm-9
								input(type="password" class="form-control" required="true")
						div.form-group
							label(class="col-sm-3 control-label text-left") 身份证号：
							div.col-sm-9
								input(type="text" class="form-control" name="id_card" required="true")
						div.form-group
							label(class="col-sm-3 control-label text-left") 身高：
							div.col-sm-9
								input(type="text" class="form-control" name="height" required="true")
						div.form-group
							label(class="col-sm-3 control-label text-left") 体重：
							div.col-sm-9
								input(type="text" class="form-control" name="weight" required="true")
						div.form-group
							label(class="col-sm-3 control-label text-left") 手机号码：
							div.col-sm-9
								input(type="text" class="form-control" name="tel_phone" required="true")
						div.form-group
							label(class="col-sm-3 control-label text-left") 电话号码：
							div.col-sm-9
								input(type="text" class="form-control" name="phone" required="true")
						div.form-group
							label(class="col-sm-3 control-label text-left") 住址：
							div.col-sm-9
								input(type="text" class="form-control" name="address" required="true")
						div.form-group
							label(class="col-sm-3 control-label text-left") 病例：
							div.col-sm-9
								textarea(class="form-control" name="medical_case" required="true")

				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
					button(type="submit" class="btn btn-primary") 确定
	//- 编辑用户
	div(class="modal fade" id="edit-user")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span &times;
					h4 添加病人用户
				div(class="modal-body")
					form.form-horizontal(action="edit_patient_user" method="post")
						input(type="hidden" name="role" value="3")
						input(type="hidden" name="edit_user_id" value="")
						div.form-group
							label(class="col-sm-3 control-label text-left") 账户名：
							div.col-sm-9
								input(type="text" class="form-control" placeholder="请输入您的用户名" name="account" disabled)
						div.form-group
							label(for="" class="col-sm-3 control-label text-left") 姓名：
							div.col-sm-9
								input( type="text" class="form-control" placeholder="请输入您的真实姓名" name="real_name")
						div.form-group
							label(class="col-sm-3 control-label text-left") 性别：
							div.col-sm-9
								label(class="radio-inline")
									input(type="radio" name="sex" value="0") 
									| 男
								label(class="radio-inline")
									input(type="radio" name="sex" value="1") 
									| 女
						div.form-group
							label(class="col-sm-3 control-label text-left") 生日：
							div.col-sm-9
								input(type="date" name="birthday" class="form-control") 
						div.form-group
							label(class="col-sm-3 control-label text-left") 身份证号：
							div.col-sm-9
								input(type="text" class="form-control" name="id_card")
						div.form-group
							label(class="col-sm-3 control-label text-left") 身高：
							div.col-sm-9
								input(type="text" class="form-control" name="height")
						div.form-group
							label(class="col-sm-3 control-label text-left") 体重：
							div.col-sm-9
								input(type="text" class="form-control" name="weight")
						div.form-group
							label(class="col-sm-3 control-label text-left") 手机号码：
							div.col-sm-9
								input(type="text" class="form-control" name="tel_phone")
						div.form-group
							label(class="col-sm-3 control-label text-left") 电话号码：
							div.col-sm-9
								input(type="text" class="form-control" name="phone")
						div.form-group
							label(class="col-sm-3 control-label text-left") 住址：
							div.col-sm-9
								input(type="text" class="form-control" name="address")
						div.form-group
							label(class="col-sm-3 control-label text-left") 病例：
							div.col-sm-9
								textarea(class="form-control" name="medical_case")

				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
					button(type="submit" class="btn btn-primary") 确定
	

	//- 查看病人家属 dialog
	div(class="modal fade" id="family-dialog")
		div(class="modal-dialog modal-lg")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span &times;
					h4 病人家属
				div(class="modal-body")
					button(type="button" class="btn btn-default" id="add-family-btn") 添加家属
					table.table
						thead
							tr
								th 姓名
								th 电话
								th 与病人关系
								th 是否接收短信通知
								th 备注
								th 操作
						tbody

				div(class="modal-body")
					form.form-horizontal.text-left.clearfix(action="/handle_family" method="post" style="display:none" id="family-form")
						input(type="hidden" name="family_id" id="family_id")
						input(type="hidden" name="patient_id" id="patient_id")
						div.form-group
							label.col-sm-4.control-label 名字：
							div.col-sm-8
								input.form-control(type="text" name="name")
						div.form-group
							label.col-sm-4.control-label 与病人关系：
							div.col-sm-8
								input.form-control(type="text" name="relationship")
						div.form-group
							label.col-sm-4.control-label 电话号码：
							div.col-sm-8
								input(type="text" name="tel_phone").form-control
						div.form-group
							label.col-sm-4.control-label 是否接收短信通知
							div.col-sm-8
								label.radio-inline
									input(type="radio" name="is_message" value="1") 
									| 是
								label.radio-inline
									input(type="radio" name="is_message" value="0")
									| 否
						div.form-group
							label.col-sm-4.control-label 备注
							div.col-sm-8
								textarea.form-control(rows="3" name="remark")
						button(type="button" class="btn btn-default" id="close-family-form-btn").pull-right 关闭
						button(type="submit" style="margin-right:10px").btn.btn-primary.pull-right 确定

				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
					

block exclusiveScript
	script(src="/js/patient_list.min.js")
		
		


		//- $('#myModal').on('hidden.bs.modal', function (e) {
		
		//- })