extends ../layout

block exclusiveStyle

block content
	h3.page-header 你所在的路径：病人信息系统 / 首页
	div#default-page
		h2.sub-header
		p.bg-success 欢迎#{user.role_prop.real_name || user.account}，祝你身体健康！

	div#personal-info
		div#base-info-container
			div.table-responsive
				table.table.table-bordered
					caption 用户基本资料
						button(class="btn btn-warning pull-right" data-toggle="modal" data-target="#modify-password") 修改密码
					tbody
						- var userRole = user.role == 0? "超级管理员" : (user.role == 1 ? "管理员" : (user.role == 2 ? "医生" :"病人"))
						tr
							td(scope="row") 账户名：
								span= user.account
							td(colspan="2") 用户角色：
								span= userRole
						tr
							td(scope="row") 姓名：
								span= user.role_prop.real_name
							td 性别：
								span= user.role_prop.sex == 0 ? "男" :　"女"
							td 年龄：
								span= user.role_prop.age
						tr
							td(scope="row") 身高：
								span= user.role_prop.height
							td(colspan="2") 体重：
								span= user.role_prop.weight
						tr
							td(scope="row" colspan="3") 过往病史：
								span= (user.role_prop.medical_case || "无")
						tr
							td(scope="row") 身份证号：
								span= user.role_prop.id_card
							td(colspan="2") 住院号：
								span= user.role_prop.location
						tr 
							td(scope="row") 联系电话：
								span= user.role_prop.phone
							td(colspan="2") 手机号码：
								span= user.role_prop.tel_phone
						tr
							td(scope="row" colspan="3") 住址：
								span= user.role_prop.address || "无"
	if user.role == 3
		div#relatives-info-container
			div.table-responsive
				table.table.table-bordered
					caption 病人的家属资料
					thead
						tr
							td 姓名
							td 电话
							td 与病人关系
							td 是否接收短信通知
							td 备注
					tbody
						each value, index in familyList
							tr
								td= value.name
								td= value.tel_phone
								td= value.relationship
								td= (value.is_message) ? "是": "否"
								td= (value.remark)
	
		
	div(class="modal fade" id="modify-password")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span &times;
					h4 修改密码
				div(class="modal-body")
					form.form-horizontal(method="post" action="/modify_password" id="modify_password_form")
						div.form-group
							label(for="old-password" class="col-sm-2 control-label text-left") 旧密码
							div.col-sm-10
								input( type="text" class="form-control" id="old-password" placeholder="请输入旧密码" name="old-password")
						div.form-group
							label( for="new-password" class="col-sm-2 control-label text-left") 新密码
							div.col-sm-10
								input( type="password" class="form-control" id="new-password" placeholder="请输入新密码" name="new-password")
						div.form-group
							label( for="confirm-password" class="col-sm-2 control-label text-left") 确认密码
							div.col-sm-10
								input( type="password" class="form-control" id="confirm-password" placeholder="再次输入新密码" name="")
				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
					button(type="submit" class="btn btn-primary" form="modify_password_form") 确定

block exclusiveScript
	script(src="/js/per_info.min.js")
		



	