extends ../layout

block exclusiveStyle
	//- link(rel="stylesheet" href="css/index.css")

block content
	h3.page-header 你所在的路径：信息系统 / 系统用户列表
	
	include ../includes/userSearchForm
	
	button(type="button" class="btn btn-default" data-toggle="modal" data-target="#add-user") 添加新系统用户
	table.table.table-striped#userlist
		thead 
			tr 
				td 账户名
				td 姓名
				td 性别
				td 年龄
				td 操作
		tbody
			each value, index in userList
				tr(data-uid = "#{value._id}" data-role="#{value.role}")
					td= value["account"] != undefined ? value["account"] : "未填写"
					td= value["role_prop"]["real_name"] != undefined ? value["role_prop"]["real_name"] : "未填写"
					td(data-sex='#{value["role_prop"]["sex"]}')= value["role_prop"]["sex"] == 0? "男" : "女"
					td= value["role_prop"]["age"]
					td
						button.btn.btn-default(type="button") 编辑

	include ../includes/pagination





	//- 添加用户
	div(class="modal fade" id="add-user")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span &times;
					h4 添加系统用户
				div(class="modal-body")
					form.form-horizontal(method="post" action="/add_system_user")
						div.form-group
							label(class="col-sm-3 control-label text-left") 账户名：
							div.col-sm-9
								input(type="text" class="form-control" placeholder="请输入您的用户名" name="account")
						div.form-group
							label(for="" class="col-sm-3 control-label text-left") 姓名：
							div.col-sm-9
								input( type="text" class="form-control" placeholder="请输入您的真实姓名" name="real_name")
						div.form-group
							label(class="col-sm-3 control-label text-left") 性别：
							div.col-sm-9
								label(class="radio-inline")
									input(type="radio" name="sex" value="0") 
									| 男
								label(class="radio-inline")
									input(type="radio" name="sex" value="1") 
									| 女
						div.form-group
							label(for="" class="col-sm-3 control-label text-left") 密码：
							div.col-sm-9
								input(type="password" class="form-control" name="password")

						div.form-group
							label(for="" class="col-sm-3 control-label text-left") 确认密码：
							div.col-sm-9
								input(type="password" class="form-control")
						div.form-group
							label(class="col-sm-3 control-label text-left") 用户角色：
							div.col-sm-9
								label(class="radio-inline")
									input(type="radio" name="role" value="0") 
									| 系统管理员
								label(class="radio-inline")
									input(type="radio" name="role" value="1") 
									| 管理员


				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
					button(type="submit" class="btn btn-primary") 确定
	
	//- 修改用户
	div(class="modal fade" id="edit-user")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span &times;
					h4 修改系统用户
				div(class="modal-body")
					form.form-horizontal(method="post" action="/edit_system_user")
						input(type="hidden" value="" name="edit_user_id")
						div.form-group
							label(class="col-sm-3 control-label text-left") 账户名：
							div.col-sm-9
								input(type="text" class="form-control" placeholder="请输入您的用户名" name="account" disabled)
						div.form-group
							label(for="" class="col-sm-3 control-label text-left") 姓名：
							div.col-sm-9
								input( type="text" class="form-control" placeholder="请输入您的真实姓名" name="real_name")
						div.form-group
							label(class="col-sm-3 control-label text-left") 性别：
							div.col-sm-9
								label(class="radio-inline")
									input(type="radio" name="sex" value="0") 
									| 男
								label(class="radio-inline")
									input(type="radio" name="sex" value="1") 
									| 女
						div.form-group
							label(class="col-sm-3 control-label text-left") 用户角色：
							div.col-sm-9
								label(class="radio-inline")
									input(type="radio" name="role" value="0" disabled) 
									| 系统管理员
								label(class="radio-inline")
									input(type="radio" name="role" value="1" disabled) 
									| 管理员


				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
					button(type="submit" class="btn btn-primary") 确定
block exclusiveScript
	script.
		// 添加系统用户
		var addUserDialog = $("#add-user")
		var addUserForm = addUserDialog.find("form")
		var userTable = $("table")
		addUserDialog.find(":submit").click(function(event){
			$.ajax({
				url: addUserForm.attr("action"),
				type: addUserForm.attr("method"),
				data: addUserForm.serialize()
			}).done(function(data){
				alert(data.info);

				if(data.status){
					var user = data.user;
					$('<tr data-uid='+ user.uid +' data-role='+ user.role +'>' +
						'<td>'+user.account+'</td>' +
						'<td>'+user.real_name+'</td>' +
						'<td data-sex='+ user.sex +'>'+(user.sex == "0" ? "男": "女")+'</td>' +
						'<td>'+ (user.age == undefined? "18": user.age) +'</td>' +
						'<td><button class="btn btn-default">编辑</td>'+
					'</tr>').prependTo(userTable.find("tbody"));
					
					addUserDialog.modal('hide')
					addUserForm.trigger("reset")
				}else{
					//- alert(data.info)
				}
				
			}).fail(function(jqXHR, textStatus, errorThrown ){
				console.log("textStatus:" + textStatus)
				console.log("errorThrown:" + errorThrown)
			})
		})
		
		// 点击表格行时，设置表单的默认信息
		var editUserDialog = $('#edit-user');
		var curTr = null;
		userTable.find("tbody").on("click", "tr", function(event){
			curTr = $(this)
			var curAllTd = curTr.find("td")
			editUserDialog.find("[name='account']").val(curAllTd.eq(0).text()).end()
				.find("[name='real_name']").val(curAllTd.eq(1).text()).end()
				.find("[name='sex']").each(function(){
					if($(this).val() == curAllTd.eq(2).data("sex")){
						$(this).attr("checked", true)
						return false;
					}
				}).end()
				.find("[name='role']").each(function(){
					if($(this).val() == curTr.data("role")){
						$(this).attr("checked", true)
						return false;
					}
				}).end()
				.find("[name=edit_user_id]").val(curTr.data("uid"))

			editUserDialog.modal('show')
		})

		// 编辑系统用户表单处理
		var editUserDialog = $("#edit-user");
		var editUserForm = editUserDialog.find("form")
		editUserDialog.find(":submit").click(function(event){
			$.ajax({
				url: editUserForm.attr("action"),
				type: editUserForm.attr("method"),
				data: editUserForm.serialize()
			}).done(function(data){
				alert(data.info);

				if(data.status){
					var user = data.user;
					curTr.find("td").eq(1).text(data.user.real_name).end()
						.eq(2).text(data.user.sex == 0? "男":"女");
					
					editUserDialog.modal('hide')
					editUserForm.trigger("reset")
				}else{
					//- alert(data.info)
				}
				
			}).fail(function(jqXHR, textStatus, errorThrown ){
				console.log("textStatus:" + textStatus)
				console.log("errorThrown:" + errorThrown)
			})
		})




		// 条件搜索
		var searchForm = $("#search-form");
		var userList = $("#userlist").find("tbody");
		searchForm.submit(function(event){
			event.preventDefault();
			$.ajax({
				url: $(this).attr("action"),
				type: $(this).attr("method"),
				data: $(this).serialize()
			}).done(function(data){
				console.log(data);
				userList.empty();

				for(var i = 0, iL = data.userList.length; i < iL; i++){
					var curUserData = data.userList[i];
					$('<tr data-uid="'+curUserData._id+'" data-role="'+ curUserData.role +'">' +
						'<td>'+ curUserData.account +'</td>' +
						'<td>'+ curUserData.role_prop.real_name +'</td>' +
						'<td data-sex="0">'+ (curUserData.role_prop.sex == 0? "男" : "女") +'</td>' +
						'<td>'+ curUserData.role_prop.age +'</td>' +
						'<td><button class="btn btn-default">编辑</td>'+
					'</tr>').appendTo(userList)
				}

			}).fail(function(jqXHR, textStatus, errorThrown ){
				console.log("textStatus:" + textStatus)
				console.log("errorThrown:" + errorThrown)
			})
		})