extends ../layout

block exclusiveStyle

block content
	h3.page-header 你所在的路径：信息系统 / 系统用户列表
	
	include ../includes/userSearchForm
	
	button(type="button" class="btn btn-info" data-toggle="modal" data-target="#add-user") 添加新系统用户
	div.table-responsive
		table.table.table-striped#userlist
			thead 
				tr 
					td 账户名
					td 姓名
					td 性别
					//- td 年龄
					td 用户角色
					td 操作
			tbody
				each value, index in userList
					tr(data-uid = "#{value._id}" data-role="#{value.role}")
						td= value["account"] != undefined ? value["account"] : "未填写"
						td= value["role_prop"]["real_name"] != undefined ? value["role_prop"]["real_name"] : "未填写"
						td(data-sex='#{value["role_prop"]["sex"]}')= value["role_prop"]["sex"] == 0? "男" : "女"
						//- td= value["role_prop"]["age"]
						td= value["role"] == 0 ? "系统管理员" : "管理员"
						td
							div.btn-group.btn-group-sm(role="group")
								button.btn.btn-warning(type="button" class="edit_btn") 编辑
								if value["role"] == 1
									button.btn.btn-danger(type="button" class="del_btn") 删除

	include ../includes/pagination





	//- 添加用户
	div(class="modal fade" id="add-user")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span &times;
					h4 添加系统用户
				div(class="modal-body")
					form.form-horizontal#add-user-form(method="post" action="/add_system_user")
						div.form-group
							label(class="col-sm-3 control-label text-left") 账户名：
							div.col-sm-9
								input(type="text" class="form-control" placeholder="请输入您的用户名" name="account" required)
						div.form-group
							label(for="" class="col-sm-3 control-label text-left") 姓名：
							div.col-sm-9
								input( type="text" class="form-control" placeholder="请输入您的真实姓名" name="real_name" required)
						div.form-group
							label(class="col-sm-3 control-label text-left") 性别：
							div.col-sm-9
								label(class="radio-inline")
									input(type="radio" name="sex" value="0" required) 
									| 男
								label(class="radio-inline")
									input(type="radio" name="sex" value="1" required) 
									| 女
						div.form-group
							label(for="" class="col-sm-3 control-label text-left") 密码：
							div.col-sm-9
								input(type="password" class="form-control" name="password" required)

						div.form-group
							label(for="" class="col-sm-3 control-label text-left") 确认密码：
							div.col-sm-9
								input#confirm-pass(type="password" class="form-control" required)
						div.form-group
							label(class="col-sm-3 control-label text-left") 用户角色：
							div.col-sm-9
								label(class="radio-inline")
									input(type="radio" name="role" value="0" required) 
									| 系统管理员
								label(class="radio-inline")
									input(type="radio" name="role" value="1" required) 
									| 管理员


				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
					button(type="submit" class="btn btn-primary" form="add-user-form") 确定
	
	//- 修改用户
	div(class="modal fade" id="edit-user")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span &times;
					h4 修改系统用户
				div(class="modal-body")
					form.form-horizontal(method="post" action="/edit_system_user")
						input(type="hidden" value="" name="edit_user_id")
						div.form-group
							label(class="col-sm-3 control-label text-left") 账户名：
							div.col-sm-9
								input(type="text" class="form-control" placeholder="请输入您的用户名" name="account" disabled)
						div.form-group
							label(for="" class="col-sm-3 control-label text-left") 姓名：
							div.col-sm-9
								input( type="text" class="form-control" placeholder="请输入您的真实姓名" name="real_name")
						div.form-group
							label(class="col-sm-3 control-label text-left") 性别：
							div.col-sm-9
								label(class="radio-inline")
									input(type="radio" name="sex" value="0") 
									| 男
								label(class="radio-inline")
									input(type="radio" name="sex" value="1") 
									| 女
						div.form-group
							label(class="col-sm-3 control-label text-left") 用户角色：
							div.col-sm-9
								label(class="radio-inline")
									input(type="radio" name="role" value="0" disabled) 
									| 系统管理员
								label(class="radio-inline")
									input(type="radio" name="role" value="1" disabled) 
									| 管理员


				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
					button(type="submit" class="btn btn-primary") 确定
block exclusiveScript
	script(src="/js/system_user_list.js")
